@font-face {
  font-family: Montserrat;
  src: url(https://fonts.google.com/specimen/Montserrat?query=mont);
}

header {
  background-color: rgb(218, 212, 212, 0.5);
  text-align: center;
}

body {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.advertisement {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
}

 .logo {
   max-width: 150px;
   float: left;
 }

 section label {
   font-family: Montserrat;
 }

  #sizes {
   font-family: Montserrat;
   font-weight: 600;
 }

.form__input {
  display: block;

}

fieldset {
  max-width: 50vw;
}

.contact_us {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 500;
}


nav a:hover {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  padding: 20px;
}

.contact_us_box {
  border: 3px solid black;
  text-align: center;
  color: white;
  max-width: 50%;
  min-width: 50%;
  margin-left: 25%;
  background-color: rgb(42, 67, 89);
  display: block;
  
}

#contact_email {
  margin-bottom: 20px;
}
